/* Popup container - can be anything you want */
.vswpss-preview-slideshow {
	cursor:pointer; 
	cursor: hand;
}
* {box-sizing: border-box}
.vswpss-slides {
	display: none}
.vswpss-img {vertical-align: middle;}

/* Slideshow container */
.vswpss-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.vswpss-prev, .vswpss-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.vswpss-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.vswpss-prev:hover, .vswpss-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.vswpss-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.vswpss-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.vswpss-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.vswpss-active, .vswpss-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.vswpss-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .vswpss-prev, .vswpss-next, .vswpss-text {font-size: 11px}
}
.vswpss-form-slideshow > p.submit {
    display: contents;
}
table.vswpss-ul-slideshow {
	border: 1px solid gray;
}

td.vswpss-preview-slideshow {
	padding: 16px;
	width: 100%;
}

table.vswpss-ul-slideshow td {
	min-width: 5px;	
}

@media screen and (max-width: 600px) {
   table.vswpss-ul-slideshow tr td:first-child {
	   font-size: 1.1em;
	   padding: 0px;
   }
   table.vswpss-ul-slideshow td {
	   display: block;
	   text-align:center;
	   padding: 0px;
   }
   table.vswpss-ul-slideshow td:before {
	   content: attr(data-th);
	   display: block;
	   text-align:center;
   }
}
.vswpss-help-slideshow {
	color:red;
}